body {
	font-family: Arial , sans-serif;
	background: linear-gradient(to right, #f96b8e , #db67e4, #827dfd);
}


.content {
	background : rgba(255,255,255,0.6);
	text-align: center;
	padding-top: 30px;
	padding-bottom: : 30px;
	margin-top: 4%;
	margin-right: 10%;
	margin-left: 10%;


}


.action-btn {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: 700;
	background: #827dfd;
	padding: 0.5em 2em;
	border-radius: 40px;
	margin: 1em 0;
	transition: 0.3s;
}

.hero {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.hero img {
	width: 200px;
}

.hero h1 {
	font-size: 2em;
	font-weight: 300;
	color: #373d46;
}

.hero p {
	font-weight: 300;
	line-height: 1.8em;
	color: #98a0ad;
} 



.action-btn:hover {
	box-shadow: 0 10px 58px rgba(188,197,216,1);
	background: linear-gradient(to right, #827dfd, #db67e4, #f96b8e );
}

.social-media {
	margin-top: 20px;
	padding-bottom: 30px;
}

.github {
	margin-right: 5%;
	margin-left: 5%;
}

.linkedin {
	margin-right: 5%;
	margin-left: 5%;
}

.twitter {
	margin-right: 5%;
	margin-left: 5%;
}