{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{{ name }}</title>
	{% include "snippets/styles.html" %}
	<link rel="stylesheet" href="{% static 'lab_1/css/styles.css' %}">
</head>

<body>

	{% include "snippets/navbar.html" %}
	{% include "snippets/jumbotron.html" %}
	{% include "snippets/scripts.html" %}
</body>

</html>