<div class="jumbotron">
	<h1 class="display-4">{{ name }}</h1>
	<h5>Seorang mahasiswa {{ departement }} <br> dari {{ city }} yang lahir pada {{ birth_date }}. <br> Tertarik pada bidang {{ interest }}. </p><p class="lead">
	<a class="btn btn-primary btn-lg" href="#" role="button">Follow Me</a>
	</h5>
</div>